body{background-color: lightyellow;}

@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#j{
    font-family: 'UhBeemysen';
    font-size: xxx-large;
    color: darkorange;
    margin-left: 8%;
}

#n{
    font-family: 'UhBeemysen';
    font-size: xxx-large;
    color: darkorange;
    margin-left: 8%;
}


#o{
    font-family: 'UhBeemysen';
    font-size: xxx-large;
    color: darkorange;
    margin-left: 8%;
}

#back{
    background: none;
    font-family: 'UhBeemysen';
    color: darkorange;
    border: 0px solid darkorange;
    font-size: x-large;
    float: left;

}

#a{
    margin-left: 200px;
}

#b{
    margin-left: 200px;
}

#c{
    margin-left: 200px;
}

#d{
    justify-content: center;
}


